{
  "server" : {
      "name" : <human readable name of repo>,
      "github_access_token" : <github access token>,
      "github_url" : git@github.com:<user>/<repo>,
      "github_repo" : <user>/<repo>,
      "aws_access_key_id" : <aws access key id>,
      "aws_access_secret_key" : <aws access secret key>,
      "xcode_server_hostname" : localhost (or server hostname/ip),
      "company_name" = <name of company>,
      "xcode_project_or_workspace" : <name of project or workspace>,
      "test_on_pull_request" : <true|false> (defaults to true),
      "test_on_branch_creation" : <true|false> (defaults to false)
  },
  "branches" : {
    "branch1" : {
      "xcode_devices" : [
        "iphonesimulator iPhone Retina (4-inch) 7.0"
      ],
      "xcode_scheme" : <name of scheme>,
      "bundle_identifier" : <bundle identifier of app>,
      "aws_upload_bucket" : <aws bucket name for branch>,
      "aws_upload_display_name" : <display name of app displayed to user>,
      "aws_upload_file_name" : <name of files uploaded (if blank, index.html will be used)>,
      "aws_upload_list_all_versions" : <true | false>
    }
  }
}
